pipeline/Test.json
{
	"name": "Test",
	"properties": {
		"activities": [
			{
				"name": "Assistance and Transaction B2S",
				"description": "Run the bronze to silver pipeline to add new data to the silver layer",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Choose a year to load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [
					{
						"name": "test",
						"value": "123"
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Yearly B2S",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Choose a year to load",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "year",
					"value": "2023"
				}
			}
		],
		"variables": {
			"year": {
				"type": "String",
				"defaultValue": "@variables('year')"
			}
		},
		"annotations": []
	}
}